
<h2> Welcome, <%= session[:player_name] %> to BlackJack</h2>
</br>

<body>
  <p>
  <% if @play_again %>
    <strong>Play again?</strong>
    <a href="/bet" class="btn btn-primary">Yes</a>
    <a href="/game_over" class="btn btn-warning"> No</a>
    <% end %>
  </p>
   <div class="well" id="dealer_cards">
    	<h3> Dealer's Cards </h3>
    	<% session[:dealer_cards].each_with_index do |card, i| %>
    	 <% if session[:turn] != "dealer" && i == 0 %>
          <img src="/images/cards/cover.jpg">
        <% else %>
         <%= card_image(card) %>
       <% end %>
      <% end %>
    	
      <% if @show_dealer_hit_button %>
      <p> Dealer has <%= calculate_total(session[:dealer_cards]) %>
      <form action='/game/dealer/hit' method='post'>
        <input type='submit' class='btn btn-primary' value='Click to see dealer card &rarr;' >
      <% end %>
      </form>
    </div>
				
		<div class="well" id="player_cards">
			<h3> <%= session[:player_name] %>'s Cards </h3>
				<% session[:player_cards].each do |card| %>
      		<%= card_image(card) %>
    		<% end %>
          <h5>
           <%= session[:player_name] %> has <%= session[:player_pot] %> and bet <%= session[:player_bet] %> this round.
    	   </h5>
      </br>
    	 <p><%= session[:player_name] %> has: <%= calculate_total(session[:player_cards]) %> </p>
    </div>
    
    <% if @show_hit_or_stay_buttons %>
    	<form id ="hit_form" action="/game/player/hit" method="post">
    		<input class="btn btn-success" type="submit" value="Hit"></input>
    	</form>
    
    	<form id="stay_form" action="/game/player/stay" method="post">
   		 <button class="btn btn-warning">Stay</button>
   		</form>
  	<% end %>
</body>


